
body {
    min-width: 300px;
    font-family: 'Roboto', sans-serif;
}

a, a:hover, a:focus, a:active {
    text-decoration: none;
    color: inherit;
}

.spacer {
    margin-top: 1.2rem;
}

.spacer-sm {
    margin-top: .6rem;
}

.main-form {
    padding: 1.2rem;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
}

.big-column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 2;
    min-width: 500px;
}

.sm-column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
    min-width: 250px;
}
